trunk/geoserver/cite/confDemoPostGIS/data/capabilities/vfnyWfsWsdl.xml

   <!-- OPERATION SIGNATURES -->
   <definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                   xmlns:ogc="http://www.opengis.net/ogc" 
                   xmlns:wfs="http://www.opengis.net/wfs" 
                   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl" 
                   xmlns:http="http://schemas.xmlsoap.org/wsdl/http"
                   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime" 
                   xmlns:gml="http://www.opengis.net/namesapces/gml/" 
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   name="WFS"
                   targetNamespace="wsdl"
                   xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl wfs.xsd">
        <wsdl:types>
          <xsd:schema elementFormDefault="qualified">

            <xsd:simpleType name="VersionValueType">
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="0.0.14"/>
                <xsd:enumeration value="0.0.15"/>
              </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="GetCapabilitiesRequestValueType">
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="GETCAPABILITIES"/>
              </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="DescribeFeatureTypeRequestValueType">
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="DESCRIBEFEATURETYPE"/>
              </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="GetFeatureRequestValueType">
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="GETFEATURE"/>
                <xsd:enumeration value="GETFEATUREWITHLOCK"/>
              </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="WfsOperationValueType">
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="delete"/>
              </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CommaSeparatedList">
              <xsd:restriction base="xsd:string">
                <xsd:pattern
                     value="\w(,\w)* |
                           '(' \w(,\w)* ')' |
                           '(' '(' \w(,\w)* ')' (,'(' \w(,\w)* ')')* ')' "/>
              </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="BBoxType">
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="(\d,\d)(,\d,\d)*"/>
              </xsd:restriction>
            </xsd:simpleType>

          </xsd:schema>
        </wsdl:types>

        <wsdl:message name="WFSExceptionMessage">
          <wsdl:part name="body" element="ogc:ServiceExceptionReport"/>
        </wsdl:message>

        <wsdl:message name="GetCapabilities_XML_Request">
          <wsdl:part name="body" element="wfs:GetCapabilities"/>
        </wsdl:message>

        <wsdl:message name="GetCapabilities_KVP_Request">
          <wsdl:part name="version" type="VersionValueType"/>
          <wsdl:part name="request" type="GetCapabilitiesRequestValueType"/>
        </wsdl:message>

        <wsdl:message name="GetCapabilitiesResponse">
          <wsdl:part name="body" element="ogc:OGC_Capabilities"/>
        </wsdl:message>

        <wsdl:message name="DescribeFeatureType_XML_Request">
          <wsdl:part name="body" element="wfs:DescribeFeatureType"/>
        </wsdl:message>

        <wsdl:message name="DescribeFeatureType_KVP_Request">
          <wsdl:part name="version" type="VersionValueType"/>
          <wsdl:part name="request" type="GetCapabilitiesRequestValueType"/>
        </wsdl:message>

        <wsdl:message name="DescribeFeatureTypeResponse">
          <wsdl:part name="body" element="xsd:schema"/>
        </wsdl:message>

        <wsdl:message name="GetFeature_XML_Request">
          <wsdl:part name="body" element="wfs:GetFeature"/>
        </wsdl:message>

        <wsdl:message name="GetFeature_KVP_Request">
          <wsdl:part name="version" type="VersionValueType"/>
          <wsdl:part name="request" type="GetFeatureRequestValueType"/>
          <wsdl:part name="typeName" type="CommaSeperatedList"/>
        </wsdl:message>

        <wsdl:message name="GetFeatureResponse">
          <wsdl:part name="body" element="gml:FeatureCollection"/>
        </wsdl:message>

        <wsdl:portType name="GetCapabilities_XML_PortType">
          <wsdl:operation name="GetCapabilities">
            <wsdl:input message="GetCapabilities_XML_Request"/>
            <wsdl:output message="GetCapabilitiesResponse"/>
            <wsdl:fault name="exception" message="WFSExceptionMessage"/>
          </wsdl:operation>
        </wsdl:portType>

        <wsdl:portType name="GetCapabilities_KVP_PortType">
          <wsdl:operation name="GetCapabilities">
            <wsdl:input message="GetCapabilities_KVP_Request"/>
            <wsdl:output message="GetCapabilitiesResponse"/>
            <wsdl:fault name="exception" message="WFSExceptionMessage"/>
          </wsdl:operation>
        </wsdl:portType>

        <wsdl:portType name="DescribeFeatureType_XML_PortType">
          <wsdl:operation name="DescribeFeatureType">
            <wsdl:input message="DescribeFeatureType_XML_Request"/>
            <wsdl:output message="DescribeFeatureTypeResponse"/>
            <wsdl:fault name="exception" message="WFSExceptionMessage"/>
          </wsdl:operation>
        </wsdl:portType>

        <wsdl:portType name="DescribeFeatureType_KVP_PortType">
          <wsdl:operation name="DescribeFeatureType">
            <wsdl:input message="DescribeFeatureType_KVP_Request"/>
            <wsdl:output message="DescribeFeatureTypeResponse"/>
            <wsdl:fault name="exception" message="WFSExceptionMessage"/>
          </wsdl:operation>
        </wsdl:portType>

        <wsdl:portType name="GetFeature_XML_PortType">
          <wsdl:operation name="GetFeature">
            <wsdl:input message="GetFeature_XML_Request"/>
            <wsdl:output message="GetFeatureResponse"/>
            <wsdl:fault name="exception" message="WFSExceptionMessage"/>
          </wsdl:operation>
        </wsdl:portType>

        <wsdl:portType name="GetFeature_KVP_PortType">
          <wsdl:operation name="GetFeature">
            <wsdl:input message="GetFeature_KVP_Request"/>
            <wsdl:output message="GetFeatureResponse"/>
            <wsdl:fault name="exception" message="WFSExceptionMessage"/>
          </wsdl:operation>
        </wsdl:portType>

        <wsdl:binding name="GetCapabilities_KVP_Binding" type="GetCapabilities_KVP_PortType">
          <http:binding verb="GET"/>
          <wsdl:operation name="GetCapabilities">
            <http:operation location="GetCapabilities"/>
            <wsdl:input>
              <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
              <mime:content type="text/xml"/>
            </wsdl:output>
            <wsdl:fault name="exception">
              <mime:content type="text/xml"/>
            </wsdl:fault>
          </wsdl:operation>
        </wsdl:binding>

        <wsdl:binding name="GetCapabilities_XML_Binding" type="GetCapabilities_XML_PortType">
          <http:binding verb="POST"/>
          <wsdl:operation name="GetCapabilities">
            <http:operation location="GetCapabilities"/>
            <wsdl:input>
              <mime:content type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
              <mime:content type="text/xml"/>
            </wsdl:output>
            <wsdl:fault name="exception">
              <mime:content type="text/xml"/>
            </wsdl:fault>
          </wsdl:operation>
        </wsdl:binding>

        <wsdl:binding name="DescribeFeatureType_KVP_Binding" type="DescribeFeatureType_KVP_PortType">
          <http:binding verb="GET"/>
          <wsdl:operation name="DescribeFeatureType">
            <http:operation location="DescribeFeatureType"/>
            <wsdl:input>
              <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
              <mime:content type="text/xml"/>
            </wsdl:output>
            <wsdl:fault name="exception">
              <mime:content type="text/xml"/>
            </wsdl:fault>
          </wsdl:operation>
        </wsdl:binding>

        <wsdl:binding name="DescribeFeatureType_XML_Binding" type="DescribeFeatureType_XML_PortType">
          <http:binding verb="POST"/>
          <wsdl:operation name="DescribeFeatureType">
            <http:operation location="DescribeFeatureType"/>
            <wsdl:input>
              <mime:content type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
              <mime:content type="text/xml"/>
            </wsdl:output>
            <wsdl:fault name="exception">
              <mime:content type="text/xml"/>
            </wsdl:fault>
          </wsdl:operation>
        </wsdl:binding>

        <wsdl:binding name="GetFeature_KVP_Binding" type="GetFeature_KVP_PortType">
          <http:binding verb="GET"/>
          <wsdl:operation name="GetFeature">
            <http:operation location="GetFeature"/>
            <wsdl:input>
              <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
              <mime:content type="text/xml"/>
            </wsdl:output>
            <wsdl:fault name="exception">
              <mime:content type="text/xml"/>
            </wsdl:fault>
          </wsdl:operation>
        </wsdl:binding>

        <wsdl:binding name="GetFeature_XML_Binding" type="GetFeature_XML_PortType">
          <http:binding verb="POST"/>
          <wsdl:operation name="GetFeature">
            <http:operation location="GetFeature"/>
            <wsdl:input>
              <mime:content type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
              <mime:content type="text/xml"/>
            </wsdl:output>
            <wsdl:fault name="exception">
              <mime:content type="text/xml"/>
            </wsdl:fault>
          </wsdl:operation>
        </wsdl:binding>

        <wsdl:service name="BasicWFSService">

      <!-- GETCAPABILITIES -->
          <wsdl:port name="GetCapabilities_KVP_Port" binding="GetCapabilities_KVP_Binding">
            <http:address location="http://freefs.vfny.org:81/geoserver"/>
          </wsdl:port>

          <wsdl:port name="GetCapabilities_XML_Port" binding="GetCapabilities_XML_Binding">
            <http:address location="http://freefs.vfny.org:81/geoserver"/>
          </wsdl:port>

      <!-- DESCRIBEFEATURETYPE -->
          <wsdl:port name="DescribeFeatureType_KVP_Port" binding="DescribeFeatureType_KVP_Binding">
            <http:address location="http://freefs.vfny.org:81/geoserver"/>
          </wsdl:port>

          <wsdl:port name="DescribeFeatureType_XML_Port" binding="DescribeFeatureType_XML_Binding">
            <http:address location="http://freefs.vfny.org:81/geoserver"/>
          </wsdl:port>

      <!-- GETFEATURETYPE -->
          <wsdl:port name="GetFeature_KVP_Port" binding="GetFeature_KVP_Binding">
            <http:address location="http://freefs.vfny.org:81/geoserver"/>
          </wsdl:port>

          <wsdl:port name="GetFeature_XML_Port" binding="GetFeature_XML_Binding">
            <http:address location="http://freefs.vfny.org:81/geoserver"/>
          </wsdl:port>

        </wsdl:service>
    </definitions>
